<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencias | CREATE</title>
</head>

<body>

    <a href="../">VOLTAR</a>
    <form>
        <input type="text" placeholder="DIGITE O NOME" required name="name" id="name">
        <input type="text" placeholder="DIGITE A CIDADE" required name="city" id="city">
        <input type="text" placeholder="DIGITE O ESTADO (UF)" required maxlength="2" name="state" id="state">
        <input type="submit" value="CRIAR">
    </form>

    <script src="../assets/js/create.js" defer></script>
</body>

</html>