<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencias | EDIT</title>
</head>

<body>

    <a href="../">VOLTAR</a>
    <form>
        <input type="text" placeholder="DIGITE O NOME" name="name" id="name">
        <input type="text" placeholder="DIGITE A CIDADE" name="city" id="city">
        <input type="text" placeholder="DIGITE O ESTADO (UF)" name="state" id="state">
        <input type="submit" value="ATUALIZAR">
    </form>
    <script src="../assets/js/edit.js" defer></script>
</body>

</html>