<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencias | LIST</title>
</head>

<body>

    <a href="../">VOLTAR</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>CIDADE</th>
                <th>UF</th>
                <th>EDITAR</th>
                <th>DELETAR</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <script src="../assets/js/list.js" defer></script>
</body>

</html>